h1 {
    margin: 5rem 0 2rem;
    text-align: center;
    font-size: 2.5rem;

}



#imgLoaded {
    display: none;
    top: 40%;
    position: relative;
    position: fixed;
    width: 100%;
}

.imgToLoad {
    width: 100%;
}

.toClose {
    position: absolute;
    top: 0;
    right: 0;
}