h1 {
    margin: 5rem 0 2rem;
    text-align: center;
    font-size: 2.5rem;

}



#imgLoaded {
    display: none;
    /* top: 40%; */
    position: relative;
    position: fixed;
    width: 100%;
}

.imgToLoad {
    width: 100%;
}

.toClose {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 1rem;
    aspect-ratio: 1;
    border: none;
    cursor: pointer;
    line-height: 0;
    scale: 1.2;
    font-weight: 900;
}

@media screen and (min-width: 800px) {
    .imgToLoad {
        width: 60%;
    }

    .toClose {
        right: 41%;
    }
}