.section {
    padding: 1rem;
    margin: 2rem 2rem;
    background-color: var(--font-white);
    border-bottom: 0.25rem solid var(--clr-bg-brown-mobile-hover);
    box-shadow: 5px 5px 25px 5px var(--box-shadow-black);
}

.section__h2 {
    padding: 0 0 1rem;
    text-align: center;
    font-size: 2rem;
}

.section__h3 {
    margin-top: 4rem;
}

.intro {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 3.8rem;
}

.acceuil {
    grid-area: 1 / 2 / 2 / 5;
    color: var(--clr-bg-brown-light);
    font-size: 1.7rem;
    text-shadow: -2px 0 black, 0 2px black,
        2px 0 black, 0 -2px black;
        z-index: 1;
        margin-top: 5rem;
    z-index: 1;
}

.imagegame {
    filter: brightness(50%);
    grid-area: 1 / 1 / 4 / 6;
    width: 100%;

}

.jouable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jouable2{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jouabletext{
    color: var(--font-black);
}
.listjouable{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 0;
}

.buttongame {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-white);
    background: rgb(192,32,22);
    background: linear-gradient(45deg, rgba(192,32,22,1) 10%, rgba(233,96,52,1) 27%, rgba(192,32,22,1) 100%);
    border-radius: 50px;
    height: 3em;
    width: 10em;
    font-size: large;
    font-weight: 600;
    margin-top: 1rem;
    text-decoration: none;
}

.section__figcaption {
    font-size: 1.25rem;
}


@media screen and (min-width: 800px) {
    /* DEBUT */
.intro{
    margin-top: 5rem;
}
.acceuil{
    grid-area: 1 / 2 / 2 / 5;
    font-size: 3rem;
}
.imagegame{
    grid-area: 1 / 1 / 6 / 6;
}
.jouable2{
    display: flex;
    z-index: 1;
    grid-area: 3 / 2 / 4 / 5;
    margin-bottom: 8rem;
    gap: 2rem;
}
.listjouable{
    flex-direction: row;
}
.jouable{
    display: none;
}
.jouabletext{
    color: white;
}

    .section {
        padding: 2rem;
        margin: 4rem 6rem;
        background-color: var(--font-white);
        border-bottom: .5rem solid var(--clr-bg-brown-mobile-hover);
        box-shadow: 5px 5px 25px 5px var(--box-shadow-black);
    }
    
    .section__h2 {
        padding: 0 0 2rem;
        text-align: center;
        font-size: 2rem;
    
    }
    
    .section__figure {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    
    .section__img {
        width: 50%;
        height: 100%;
        margin: 0;
        cursor: pointer;
    }
    
    .section__figcaption {
        font-size: 1.25rem;
    }

}

@media screen and (min-width: 1440px) {
    .acceuil{
        font-size: 5rem;
        text-shadow: -3px 0 black, 0 3px black,
        3px 0 black, 0 -3px black;
    }
    .jouable2{
        gap: 5rem;
    }
    .listjouable{
        flex-direction: row;
        gap: 6rem;
    }

    .jouabletext{
        color: white;
        font-size: 3rem;
    }
    .buttongame {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: rgb(192,32,22);
        background: linear-gradient(45deg, rgba(192,32,22,1) 0%, rgba(233,96,52,1) 17%, rgba(192,32,22,1) 100%);
        border-radius: 50px;
        height: 3em;
        width: 10em;
        font-size: large;
        font-weight: 600;
        margin-top: 1rem;
        font-size: 2rem;
    }
}